<div class="col-md-6 col-md-offset-3">
<form action="change_password_path" role="form">
	<div class="alert alert-success" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		Change your password successfully
	</div>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		Change your password unsuccessfully:<br/>
		- Retype password is not match<br/>
		- Current password is not correct<br/>
		- All input must be filled
	</div>
	<div class="form-group">
		<label for="current-password">Password old</label>
		<input type="password" class="form-control" id="current-password" placeholder="Enter your current password">
	</div>
	<div class="form-group">
		<label for="new-password">New password</label>
		<input type="password" class="form-control" id="new-password" placeholder="Enter your new password">
	</div>
	<div class="form-group">
		<label for="retype-password">Retype new password</label>
		<input type="password" class="form-control" id="retype-password" placeholder="Retype your new password">
	</div>
	<div class="form-group pull-right">
		<button type="submit" class="btn btn-default">Save</button>
		<a href="#"><button type="button" class="btn btn-primary">Cancel</button></a>
	</div>
</form>
</div>